@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.MetaModel>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8" />
<title>LiveLink</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<meta itemprop="name" content="@Model.View.Title" />
<meta itemprop="description" content="@Model.View.Description" />
<meta itemprop="image" content="" />
<meta itemprop="url" content="@Model.View.CanonicalUrl" />

<meta property="og:site_name" content="LiveLink" />
<meta property="og:title" content="@Model.View.Title" />
<meta property="og:description" content="@Model.View.Description" />
<meta property="og:type" content="website" />
<meta property="og:image" content="logo.jpg" />
<meta property="og:image" content="MetaImage.Url" />
<meta property="og:url" content="@Model.View.CanonicalUrl" />
<meta property="og:locale" content="en_GB" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta name="twitter:title" content="MetaTitle" />
<meta name="twitter:description" content="MetaDescription" />
<meta name="twitter:image" content="@Model.View.CanonicalUrl" />
<meta name="theme-color" content="#eb6f4d" />

<link rel="canonical" href="@Model.View.CanonicalUrl" />
<meta name="robots" content="noindex" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />