@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.EventViewModel>
@{
	var isAjax = Request.IsAjaxRequest();
	Layout = isAjax ? null : "Master.cshtml";
}
<div class="@(isAjax ? string.Empty: "container")">
	<div class="event">

		<div class="event__header">
			<div class="row">
				<div class="col-lg-12">
					<div class="event__header-title ui huge header">
						@Model.View.Title
					</div>
					<div class="event__header-details">
						<div class="event__header-date">
							<i class="fa fa-calendar"></i> Date: <b>@Model.View.FormattedDateTime</b>
						</div>
						<div class="event__header-venue">
							<i class="fa fa-home"></i> Venue:
							<b><a href="#">@Model.View.Venue.Title</a></b>
							<img class="img-circle" src="@Model.View.Venue.Logo.Url?width=20&height=20&mode=crop" />
						</div>
						@if (!string.IsNullOrEmpty(@Model.View.TicketUri))
						{
							<div class="event__header-date">
								<i class="fa fa-ticket"></i> Buy tickets: <a href="@Model.View.TicketUri" target="_blank">@Model.View.TicketUri.Truncate(40)</a>
							</div>
						}
					</div>
				</div>
			</div>
		</div>

		<div class="event__body">
			<div class="row">
				
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12">
							<div class="event__body-image">
								<img src="@Model.View.ThumbnailUrl?width=800&mode=crop"/>
							</div>
						</div>
						
						@if (Model.View.OtherEvents.Any())
						{
							<div class="col-md-12">
								<div class="event__body-other-events">
									<h3>Other events at @Model.View.Venue.Title</h3>
									@foreach (var e in Model.View.OtherEvents)
									{
										<a href="@e.Url" @(isAjax ? "data-overlay=true" : string.Empty)>
											<div class="event__body-other-events-item">
												<div class="event__body-other-events-item-image">
													<img class="img-circle" src="@e.ThumbnailUrl?width=80&height=80&mode=crop&scale=both" />
												</div>
												<div class="event__body-other-events-item-content">
													<h4></h4>
													<h4>
														<i class="fa fa-feed"></i>
														@e.Title
														<br />
														<small><b>@e.FormattedStartTime</b></small>
													</h4>
												</div>
											</div>
										</a>
									}
								</div>
							</div>
						}
					</div>
				</div>

				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12">
							<div class="event__body-description js-event-show-more">
								@Html.Raw(Model.View.Description)
							</div>
						</div>
						<div class="col-md-12">
							<div class="event__body-map js-event-map"
							     data-lng="@Model.View.Venue.Longitude"
							     data-lat="@Model.View.Venue.Latitude">
							</div>
							@*
								<div class="event__body-map">
									<img src="https://maps.googleapis.com/maps/api/staticmap?
										 center=@(Model.View.Venue.Latitude),@(Model.View.Venue.Longitude)
										 &zoom=14&size=800x320
										&markers=color:red
										 %7Clabel:@(Model.View.Venue.Title)
										 %7C@(Model.View.Venue.Latitude),@(Model.View.Venue.Longitude)
										 &key=AIzaSyAFMn4IZfdJTexYRh6MfL6fqNbukCIwj9I" />
								</div>
							*@
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

@section JSPlugins
{
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFMn4IZfdJTexYRh6MfL6fqNbukCIwj9I">

	</script>
}