@using LiveLink.App_Code
@using Newtonsoft.Json
@inherits Our.Umbraco.Ditto.DittoView<LiveLink.Services.Models.ViewModels.FeedViewModel>
@{
	Layout = "Master.cshtml";
}
<div class="feed__container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<select class="form-element long light js-location-input">
					@foreach (var country in Model.View.Countries)
					{
						<optgroup label="@country.Title">
							@foreach (var city in country.Cities)
							{
								<option value="@city.Id">@city.Title</option>
							}
						</optgroup>
					}
				</select>

				<div class="listing__container js-location-content">

				</div>

			</div>
		</div>
	</div>


	@Html.Partial("Overlay")
</div>


@section JSPlugins
{
	<script type="application/json" id="events-json">
		@Html.Raw(JsonConvert.SerializeObject(Model.View.Venues))
	</script>
	<script type="text/mustache" id="feedViewTemplate">
		@Html.RenderRawContent("~/Views/Partials/FeedView.mustache")
	</script>
}